.input{
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input input{
  margin: 1rem;
}
.ul{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width:71%;
  justify-content: space-between;
  align-items: center;
}